<div
  class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-2 py-10 px-10 bg-yellow"
  style="background-image: url('')"
>
  <div class="contact">
    <a class="flex gap-2 mb-4 font-bold"
      ><img
        src="https://static.vecteezy.com/system/resources/thumbnails/014/440/984/small/phone-call-thin-line-icon-social-icon-set-png.png"
        alt=""
        width="30px"
      />
      500-500-500</a
    >
    <a class="flex gap-2 mb-4 font-bold"
      ><img
        src="https://www.iconpacks.net/icons/2/free-send-mail-icon-2574-thumb.png"
        alt=""
        width="30px"
      />contact@example.com</a
    >
    <a class="flex gap-2 mb-4 font-bold"
      ><img
        src="https://cdn-icons-png.flaticon.com/512/4230/4230964.png"
        alt=""
        width="30px"
      />support@example.com</a
    >
  </div>
  <div class="info">
    <h3 class="font-bold">Information</h3>
    <ul>
      <li>About Us</li>
      <li>Delivery Information</li>
      <li>Privacy Policy</li>
      <li>Terms & Conditions</li>
    </ul>
  </div>
  <div class="customer">
    <h3 class="font-bold">Customer Service</h3>
    <ul>
      <li><a>Contact Us</a></li>
      <li><a>Returns</a></li>
      <li><a>Site Map</a></li>
    </ul>
  </div>
  <div class="extra">
    <h3 class="font-bold">Extras</h3>
    <ul>
      <li><a>Brands</a></li>
      <li><a>Gift vouchers</a></li>
      <li><a>Affiliates</a></li>
      <li><a>Specials</a></li>
    </ul>
  </div>
  <div class="account">
    <h3 class="font-bold">My Account</h3>
    <ul>
      <li><a>My Account</a></li>
      <li><a>Order History</a></li>
      <li><a>Wish List</a></li>
      <li><a>Newsletter</a></li>
    </ul>
  </div>
</div>
