<div class="flex">
  <app-admin-aside></app-admin-aside>
  <div class="m-20">
    <h1 class="flex justify-between mb-4">
      Orders
      <!-- <span
        ><button
          routerLink="/add"
          class="bg-[#433131] text-white h-[36px] pl-2 pr-2 font-bold"
        >
          New Product
        </button></span
      > -->
    </h1>
    <table class="border-collapse shadow-lg border border-gray-300 w-[70vw]">
      <thead>
        <tr>
          <th class="border border-gray-300" style="width: 5%">#</th>
          <th class="border border-gray-300" style="width: 20%">User</th>
          <th class="border border-gray-300" style="width: 20%">Date</th>
          <th class="border border-gray-300" style="width: 15%">
            Order Status
          </th>
          <th class="border border-gray-300" style="width: 25%">Events</th>
        </tr>
      </thead>
      <tbody class="border border-gray-300">
        <tr>
          <td class="border border-gray-300 pl-4" style="width: 5%">01</td>
          <td class="border border-gray-300 pl-4" style="width: 20%">
            Perez Odiyo
          </td>
          <td class="border border-gray-300 pl-4" style="width: 20%">
            annan@gmail.com
          </td>
          <td
            class="border border-gray-300 pl-4 text-center"
            style="width: 15%"
          >
            25
          </td>

          <td
            class="border border-gray-300 pl-4 text-center"
            style="width: 25%"
          >
            <button>v</button>
            <button>d</button>
            <button></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
