<div class="flex">
  <app-admin-aside></app-admin-aside>
  <div class="m-20">
    <table class="border-collapse shadow-lg border border-gray-300 w-[60vw]">
      <thead>
        <tr>
          <th class="border border-gray-300" style="width: 5%">#</th>
          <th class="border border-gray-300" style="width: 30%">
            Customers' name
          </th>
          <th class="border border-gray-300" style="width: 30%">
            Email Address
          </th>
          <th class="border border-gray-300" style="width: 35%">
            Phone Number
          </th>
        </tr>
      </thead>
      <tbody class="border border-gray-300">
        <tr>
          <td class="border border-gray-300 pl-4" style="width: 5%">01</td>
          <td class="border border-gray-300 pl-4" style="width: 30%">
            Perez Odiyo
          </td>
          <td class="border border-gray-300 pl-4" style="width: 30%">
            annan@gmail.com
          </td>
          <td class="border border-gray-300 pl-4" style="width: 35%">
            2546789006
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
