<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification</title>
</head>
<body>
    <table>
        <tr>
            <th>DELIVERY NOTIFICATION FOR ITEMS ORDERED BY<%=Name%></th>
        </tr>
        <tr>
            <td>
                <p>
                    Hi <%=Name%> Your order has been delivered as requested,check the details of your order and confirm. 
                </p>
            
                <p>
                    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.foodandwine.com%2Flifestyle%2Fkitchen%2Ftop-rated-coffee-makers&psig=AOvVaw1PhGUlMbxNN3svnaTLmW70&ust=1701171042987000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCOiWkJCK5IIDFQAAAAAdAAAAABAE" alt="">
                </p>
                <p>
                    Thank you for trusting Shopie as your one stop shop for your shopping needs We hope to see you once again .  <br> We really appreciate you for your readiness to be part of us. We really value your privacy, dont share your password with anyone. <br><br>
                    <p>Thank you</p>
                </p>
            </td>
        </tr>
    </table>
</body>
</html>