<div class="flex">

    
    <div class="m-20">
      <h1 class="flex justify-between mb-4">
        Orders
 
      </h1>
      <table class="border-collapse shadow-lg border border-gray-300 w-[70vw]" >
        <thead >
          <tr >
            <th class="border border-gray-300" style="width: 5%">#</th>
            <th class="border border-gray-300" style="width: 20%">orderDate</th>
            <th class="border border-gray-300" style="width: 20%">quantity</th>
            <th class="border border-gray-300" style="width: 15%">
              Order Status
            </th>
            <!-- <th class="border border-gray-300" style="width: 25%">Events</th> -->
          </tr>
        </thead>
        <tbody class="border border-gray-300" >
          <tr *ngFor="let order of orders">

            <td class="border border-gray-300 pl-4" style="width: 5%">01</td>
            <td class="border border-gray-300 pl-4" style="width: 20%">
              {{order.orderDate}}
            </td>
            <td class="border border-gray-300 pl-4" style="width: 20%">
              {{order.quantity}}
            </td>
            <td
              class="border border-gray-300 pl-4 text-center"
              style="width: 15%"
            >
              {{order.status}}
            </td>
  
            <!-- <td
              class="border border-gray-300 pl-4 text-center"
              style="width: 25%"
            >
              <button class="button transit" [disabled]="isOnTransit" (click)="onTransit(order.id)" *ngIf="order.orderStatus==='processing'">On transit</button>
              <button class="Delivered" *ngIf="order.orderStatus==='shipping'" >Delivered</button>
             <button class="cancel"*ngIf="order.orderStatus!=='shipped' " [disabled]="isCanceled">cancel</button>
             
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
