<div
  class="flex flex-col items-left px-8 py-10 bg-[#433131] w-[20vw] h-[100vh] text-white font-bold"
>
  <div>
    <a routerLink="/profile" class="cursor-pointer"
      ><img
        src="https://image.shutterstock.com/image-vector/default-avatar-profile-icon-grey-260nw-518740768.jpg"
        class="rounded-full object-cover h-16 w-16"
        alt=""
    /></a>

    <p>Hello <span> {{userDetails.firstname}}</span></p>
    <nav class="mt-10">
      <!-- <a class="cursor-pointer">View Sales</a> -->
      <hr />
      <br />
      <a routerLink="/productlists" class="cursor-pointer">Manage Products</a>
      <hr />
      <br />

      <a routerLink="/profile" class="cursor-pointer">My Profile</a>
      <hr />
      <br />
      <a routerLink="" class="cursor-pointer" (click)="logOut()">LogOut</a>
    </nav>
  </div>
</div>
