<div>
  <div class="navbar bg-[#433131]">
    <div>
      <h1>ShOpPiE</h1>
    </div>
    <div class="bg-[ #433131 ]">
      <input
        type="text"
        placeholder=""
        class="material-symbols-outlined bg-transparent rounded-3xl border border-gray-100 p-2"
        value="Search"
      />
    </div>
    <div>
      <img
        src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png"
        alt=""
        width="30px"
        style="border-radius: 50%"
      />
    </div>
  </div>
</div>
